<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{ title }}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/playlists']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >PlayLists</a
      >
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer bg-light">
  <div class="container d-flex justify-content-center">
    <span class="text-muted">Developed By: Kapil Dev</span>
  </div>
</footer>
<!-- Footer -->
